*{margin: 0px; padding: 0px;}
input[type="text"],input[type="password"], input[type="email"] {
  display: block;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	line-height: 1.5em;
}

input[type="text"] input[type="password"]:focus{


	/* No outline on focus */
	outline: 1;
	/* a darker border ? */
}
body{

	background: url('man.jpg') no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 font-family: Calibri;

}

label{color: #fff;}

#logo{

	padding: 30px;
	color: #fff;
	font-size: 35px;
	font-family: Myriad Pro;
	text-align: center;

}

#intro{text-align: center; font-family: Calibri; color: #fff;}
#reg_container{

	width: 200px;
	height: 350px;
	border: 1px solid grey;
	background-image:url('background.png');
	padding: 30px;
	margin: 0px auto;
	margin-top: 100px;

}

#reg_container h2{font-size: 18px; color: #fff; margin-bottom: 10px; font-family: Calibri;}

#reg_container input{

	margin-top: 10px;
	padding-top: 5px;
}

#login_container h2{

	margin-bottom: 10px;
	font-family: Calibri;
	color: #fff;
}

#login_container{

	width: 190px;
	height: 250px;
	margin: 0px auto;
	margin-top: 50px;
	padding: 19px;
	background-image: url('background.png');


}

#loginEmail, #loginPassword{

	padding: 5px;
	margin-bottom: 5px;

}


.register{


	text-align: center;
	margin-top: 20px;

}

.register a{color: #fff; text-decoration: none; font-size: 20px;}

#footer{

	width: 100%;
	height: 50px;
	background-image: url('background.png');
	clear: both;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #fff;
	padding-top: 20px;

}

a{font-size: 18px; text-decoration: none;}
