*{margin: 0px; padding: 0px;}


#menu{

	height: 600px;
	width: 300px;
	background-color: #2B3333;
	float: left;


}

#stripe{

	height: 60px;
	width: 300px;
	background-color: #374242;


}

#container{

	width: 100%;
	height: 600px;
	background-color: #fff;
	border: 1px solid grey;

}



.task{

	width: 100%;
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid green;

}

.check_task{

	display: inline-block;

}


.task_name{

	display: inline-block;

}


.date_task{

	display: inline-block;

}

.time_task{

	display: inline-block;

}

#content{



}